<div class="text-align-left flex-grow-1 mb-2 p-4">


  <h2>Watchlist</h2>

  <!-- {{stockDataSocketSvc.dataForMyWatchlist$ | json}} -->

  <div *ngFor="let item of (stockDataSocketSvc.dataForMyWatchlist$ | async)">
    <!-- Item -->
    <!-- {{item | json}} -->

    <div class="row border border-primary rounded px-3 py-2 pt-4 m-3 d-flex flex-row">

      <img [src]="item.logo.url" class="w-100 h-auto d-block col-sm-4"
        style="max-width: 200px; display: block;max-height: 100%; height: auto;object-fit: contain;" />

      <div class="d-flex flex-column flex-1">
        <div class="d-flex row">
          <h4 class="col-sm">{{item?.quote.symbol}}</h4>
          <h4 class="">- {{item?.quote.companyName}}</h4>
        </div>
        <h6>Exchange: {{item?.quote.primaryExchange}}</h6>
        <!-- <h3>Exchange: {{item.quote.primaryExchange}}</h3> -->

        <div class="d-flex flex-row">
          <h6>Latest Price: ${{item?.quote.latestPrice}}</h6>
          <!-- <h6>(${{item.quote.latestUpdate | date}})</h6> -->
        </div>
        <h6>PE Ratio: {{item?.quote.peRatio}}</h6>

      </div>
      <!--     
      <div class="col-sm-4 text-right p-0" style="max-width: 120px;">
        <button class="button button-primary rounded bg-grey" style="width: 100px;"
        (click)="addToWatchlistClicked(item?.quote)">
          x
        </button>
      </div> -->

      <div class="col-sm-4 text-right p-0" style="max-width: 120px;">
        <button class="button rounded text-white" style="width: 100px; background-color: grey;"
          (click)="removeFromWatchlistClicked(item?.quote)">
          Remove
        </button>
      </div>
    </div>

  </div>

  <!-- <p>Watchlist is currently being saved to <i>local storage {{watchlistStorageMode}}.</i></p> -->


  <div class="input-group mb-3 container">
    <div class="input-group-prepend ml-4">
      <span class="input-group-text" id="basic-addon3">Symbol Lookup</span>
    </div>

    <input type="text" #input="ngModel" class="form-control mr-2" id="basic-url" aria-describedby="basic-addon3"
      [(ngModel)]="symbolToCheck">


    <!-- <div *ngFor="symbolResponse of Object.values(stockDataSocketSvc.checkSymbolResponses | async); let key, val;">
      {{key}}
    </div>{{(stockDataSocketSvc.checkSymbolResponses | async -->
    <!-- // todo - add search results -->
    <!-- <div *ngIf="let ok=(stockDataSocketSvc.checkSymbolResponses | async)"> -->

    <!-- <div *ngIf="(stockDataSocketSvc?.checkSymbolResponses | async) ? (stockDataSocketSvc?.checkSymbolResponses | async)[symbolToCheck] : false">
    Results...
  </div> -->

    <!-- ok -->

    <!-- <div *ngIf="(ok | async)[symbolToCheck] === false">
    Results...
  </div>
</div>


    <div *ngIf="(stockDataSocketSvc.checkSymbolResponses | async) === false">
      Results...
    </div> -->


    <!-- <button type="button" class="btn btn-success btn-sm mr-4" (click)="connectWithAccessTokenClick()"
      tooltip="Uses a secure OAuth connected to link your account. Connection is killed when you close your browser window (and times out after 30 min).">
      Add
    </button> -->

    <!-- </div> -->

    <!-- <p>
    First, get an auth code by using the secure login from the green button above. ^
    <br />
    <br />
    Enter the <a href="https://meyerweb.com/eric/tools/dencoder/">"url decoded"</a> version of the code into the td
    form.
    <br />
    <br />
    Then use the code to get an symbolToCheck from the 200 in the text input below.<a
      href="https://developer.tdameritrade.com/authentication/apis/post/token-0">https://developer.tdameritrade.com/authentication/apis/post/token-0</a>
    <br />
    <br />
    <i>Note: the code is only good for a single use!</i>
    <br />
    <br />
    ESRWAJCTK8NS8D21HNVFXRA42L3XQSVZ@AMER.OAUTHAP
    <br />
    <br />
    https://localhost:4200/login-callback
    <br />
    <br />
  </p>
-->
  </div>

  <!-- <div *ngIf="!callingForData && (symbolCheck404ed || !symbolCheckSuccessData?.quote) && symbolToCheck !== ''"
    class="m-2 p-2 text-center">


    Oh no! We couldn't find any stock with the ticker: <italic>{{symbolCheck404ed}}</italic>


  </div> -->

  <div *ngIf="!symbolCheckSuccessData && symbolToCheck !== ''" class="m-2 p-2 text-center">
  <!-- <div *ngIf="callingForData === true" class="m-2 p-2 text-center"> -->

    Checking {{symbolToCheck}}...

  </div>

  <div *ngIf="symbolCheckSuccessData && symbolCheckSuccessData.quote"
    class="row border border-primary rounded px-3 py-2 pt-4 m-3 d-flex flex-row">

    <img [src]="symbolCheckSuccessData.logo.url" class="w-100 h-auto d-block col-sm-4"
      style="max-width: 200px; display: block;max-height: 100%; height: auto;object-fit: contain;" />
    <h4 class="col-sm">{{symbolCheckSuccessData?.quote.symbol}}</h4>
    <h4 class="">- {{symbolCheckSuccessData?.quote.companyName}}</h4>

    <div class="w-100">
      <div class="d-flex flex-column pt-3">
        <h6>Exchange: {{symbolCheckSuccessData?.quote.primaryExchange}}</h6>
        <h4>Quote</h4>
        <div class="m-2 p-2 border border-primary rounded">
          <p>(Last Updated: {{symbolCheckSuccessData?.quote.latestTime}})</p>
          <h6>Volume: {{symbolCheckSuccessData?.quote.volume}}</h6>
          <h6>Price (Delayed): ${{symbolCheckSuccessData?.quote.delayedPrice}}</h6>
          <h6>52wk High: ${{symbolCheckSuccessData?.quote.week52High}}</h6>
          <h6>52wk Low: ${{symbolCheckSuccessData?.quote.week52Low}}</h6>
        </div>
      </div>
      <!-- <h3>Exchange: {{symbolCheckSuccessData.quote.primaryExchange}}</h3> -->

      <!-- <div class="d-flex flex-row"> -->
      <div class="d-flex">



        <!-- <h6>(${{symbolCheckSuccessData.quote.latestUpdate | date}})</h6> -->
      </div>
      <h4>Financials</h4>
      <div class="d-flex flex-column m-2 p-2 border border-primary rounded">
        <p>(Last updated: {{symbolCheckSuccessData?.financials.financials[0].reportDate}})</p>
        <h6>Total Renevue: ${{symbolCheckSuccessData?.financials.financials[0].totalRevenue}}</h6>
        <h6>Net Income: ${{symbolCheckSuccessData?.financials.financials[0].netIncome}}</h6>
        <h6>Gross Profit: ${{symbolCheckSuccessData?.financials.financials[0].grossProfit}}</h6>
      </div>

      <!-- <div *ngFor="let earningReport of symbolCheckSuccessData?.earnings">
        <p>(Last updated: {{earningReport.datetime}}})</p>

        <h6>Estimated EPS: ${{earningReport.consensusEPS}}</h6>
        <h6>Actual EPS: ${{earningReport.actualEPS}}</h6>
        <hr />
        <h6>Surprise EPS: ${{earningReport.EPSSurpriseDollar}}</h6>
      </div> -->

      <h4>Earnings</h4>

      <ng-container *ngIf="symbolCheckSuccessData?.earnings.earnings">

        <div *ngFor="let earningReport of symbolCheckSuccessData?.earnings.earnings"
          class="border border-primary flex-1 m-2 p-2 rounded">
          <p>(Dropped: {{earningReport.EPSReportDate}}})</p>

          <h6>Estimated EPS: ${{earningReport.consensusEPS}}</h6>
          <h6>Actual EPS: ${{earningReport.actualEPS}}</h6>
          <h4>Surprise EPS: ${{earningReport.EPSSurpriseDollar}}</h4>
        </div>
      </ng-container>

    </div>

    <div class="col-sm-4 text-right p-0" style="max-width: 120px;">


      <button class="button rounded bg-primary text-white m-2" style="width: 100px;"
        (click)="addToWatchlistClicked(symbolCheckSuccessData?.quote)">
        Add To Watchlist
      </button>

      <button class="m-2" disabled>
        Already In Your To Watchlist
      </button>
    </div>
    <!-- </div> -->



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>