<div class="flex flex-grow-1">

    <h1 class="text-center m-4 p-2">News Feed</h1>

    <div *ngFor="let item of (stockDataSocketSvc?.dataForMyWatchlist$ | async)"
        class=" m-2 border border-primary rounded ">
        <!-- Item -->

        <div class="row px-3 py-2 pt-4 m-3 d-flex flex-row">

            <img [src]="item.logo.url" class="w-100 h-auto d-block col-sm-4"
                style="max-width: 200px; display: block;max-height: 100%; height: auto;object-fit: contain;" />

            <div class="d-flex flex-column flex-1">
                <div class="d-flex row">
                    <h4 class="col-sm">{{item?.quote.symbol}}</h4>
                    <h4 class="">- {{item?.quote.companyName}}</h4>
                </div>
                <h6>Exchange: {{item?.quote.primaryExchange}}</h6>
                <!-- <h3>Exchange: {{item.quote.primaryExchange}}</h3> -->

                <div class="d-flex flex-row">
                    <h6>Latest Price: ${{item?.quote.latestPrice}}</h6>
                    <!-- <h6>(${{item.quote.latestUpdate | date}})</h6> -->
                </div>
                <h6>PE Ratio: {{item?.quote.peRatio}}</h6>

            </div>
            <!--     
                <div class="col-sm-4 text-right p-0" style="max-width: 120px;">
                    <button class="button button-primary rounded bg-grey" style="width: 100px;"
                    (click)="addToWatchlistClicked(item?.quote)">
                    x
                </button>
            </div> -->



        </div>

        <div class="flex-1 p-2">
            <!-- <button class="button rounded text-white" style="width: 100px; background-color: grey;" -->
            <!-- (click)="removeFromWatchlistClicked(symbolCheckSuccessData?.quote)"> -->
            <h4>Articles</h4>

            <!-- {{item | json}} -->
            <hr class="border border-primary" />

            <div *ngFor="let article of item?.news; let i = index">

                <div *ngIf="article.lang === 'en'" class="border border-primary m-2 p-3 rounded row">

                    <!-- {{i}} -->
                    <div>
                        <h6>{{article?.datetime | date:'medium'}}</h6>
                        <h5>{{article?.headline}}</h5>
                        <p>{{article?.summary}}</p>

                        <a [href]="article?.url">
                            <button class="bg-primary text-white p-1 px-2 rounded">
                                Read full article at "<i>{{article?.source}}</i>"
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <img [src]="article?.image" /> -->


            <!-- </ng-container> -->

            <!-- </button> -->
            <!-- </div> -->

            <!-- </div> -->

        </div>


        <!-- <div>
                
                <app-news-feed-item *ngFor="let fakeNewsItem of hardcodedFakeNewsItems" title="{{fakeNewsItem.title}}"
                description="{{fakeNewsItem.description}}" [bulletPoints]='fakeNewsItem.bulletPoints'>
            </app-news-feed-item>
            
        </div> -->



    </div>

    <br />
    <br />
    <br />
    <br />
    <br />


</div>